/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
/*variables*/
/*extends*/
.flex-column, .main, .main .layer, .main .jumbotron, .services, .services .container .box-service, .portfolio, .portfolio .container .photo-box .description, .about-us, .about-us .container, .our-team, .our-team .container .team-box, .contact {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.button-model, .main .jumbotron .button, .contact .container > form .send-button {
  font-family: "Montserrat", sans-serif;
  padding: 30px 60px;
  border-radius: 5px;
  background-color: #fdd135;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.3em;
  cursor: pointer;
}

.button-model:hover, .main .jumbotron .button:hover, .contact .container > form .send-button:hover {
  background-color: #e0bb33;
}

.header-model .title, .services .services-header .title, .portfolio .portfolio-header .title, .about-us .about-header .title, .our-team .team-header .title, .contact .contact-header .title {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}

.header-model .text, .services .services-header .text, .portfolio .portfolio-header .text, .about-us .about-header .text, .our-team .team-header .text, .contact .contact-header .text {
  font-family: "Playfair Display", serif;
  font-size: 1.2em;
  color: #777777;
  margin-top: 5px;
  font-style: italic;
}

body {
  margin: 0;
}

/*MAIN*/
.main {
  height: 70vh;
  min-height: 800px;
  background-image: url("../images/main-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main .layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main .layer > header {
  height: 50px;
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
}

.main .layer > header .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.main .layer > header .nav .logo {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-size: 2em;
  letter-spacing: 10px;
  padding-left: 50px;
}

.main .layer > header .nav .logo a {
  text-decoration: none;
  color: #fdd135;
}

.main .layer > header .nav ul {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 0;
}

.main .layer > header .nav ul > li {
  padding: 0 20px;
}

.main .layer > header .nav ul > li > a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.main .layer > header .nav ul > li > a:hover {
  color: #fdd135;
}

.main .jumbotron {
  -ms-flex-pack: center;
      justify-content: center;
  max-width: 1200px;
  padding: 15px;
  margin-top: 10%;
}

.main .jumbotron .header-jumbotron {
  text-align: center;
}

.main .jumbotron .header-jumbotron .text {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  color: #fff;
  font-style: italic;
  text-transform: capitalize;
}

.main .jumbotron .header-jumbotron .title {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

/*SERVICES*/
.services {
  text-align: center;
}

.services .services-header {
  margin-top: 5%;
}

.services .container {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 5%;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.services .container .box-service {
  text-align: center;
  padding: 15px;
  width: 33%;
}

.services .container .box-service:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.services .container .box-service .title {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0px;
}

.services .container .box-service .text {
  color: #777777;
  padding: 0 15px;
  line-height: 22px;
}

.services .container .box-service .circle {
  border: 2px solid #fdd135;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.services .container .box-service .circle a {
  font-size: 3.0em;
  color: #fdd135;
}

/*PORTFOLIO*/
.portfolio {
  background-color: #f7f7f7;
}

.portfolio .portfolio-header {
  margin-top: 5%;
  text-align: center;
}

.portfolio .container {
  width: 100%;
  max-width: 1200px;
  margin-top: 5%;
  margin-bottom: 5%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio .container .photo-box {
  width: 325px;
  margin-bottom: 50px;
  overflow: hidden;
  background-color: #fff;
}

.portfolio .container .photo-box .photo {
  height: 70%;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.portfolio .container .photo-box .description {
  height: 30%;
  -ms-flex-pack: center;
      justify-content: center;
}

.portfolio .container .photo-box .description .title {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  font-weight: bold;
}

.portfolio .container .photo-box .description .text {
  font-family: "Playfair Display", serif;
  color: #777777;
  font-style: italic;
  margin-top: 2px;
}

/*ABOUT US*/
.about-us .about-header {
  margin-top: 5%;
  text-align: center;
}

.about-us .container {
  position: relative;
  margin-bottom: 10%;
}

.about-us .container .line {
  height: 92%;
  border-left: 4px solid #f1f1f1;
  position: absolute;
  margin-top: 110px;
  margin-bottom: 110px;
  left: 50%;
  z-index: -1;
}

.about-us .container .history-element {
  width: 100%;
  margin-top: 90px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.about-us .container .history-element .left-element,
.about-us .container .history-element .right-element {
  width: 33%;
  padding: 0 15px;
}

.about-us .container .history-element .left-element .title,
.about-us .container .history-element .right-element .title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.about-us .container .history-element .left-element .description,
.about-us .container .history-element .right-element .description {
  font-family: "Montserrat", sans-serif;
  margin-top: 5px;
  margin-bottom: 0;
}

.about-us .container .history-element .left-element .text,
.about-us .container .history-element .right-element .text {
  font-size: 1.0em;
  color: #777777;
  line-height: 22px;
}

.about-us .container .history-element .left-element {
  text-align: right;
}

.about-us .container .history-element .left-element .wrapper {
  width: 50%;
  float: right;
}

.about-us .container .history-element .right-element {
  text-align: left;
}

.about-us .container .history-element .right-element .wrapper {
  width: 50%;
  float: left;
}

.about-us .container .history-element .middle-element {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 260px;
}

.about-us .container .history-element .middle-element .circle {
  border-radius: 50%;
  border: 8px solid #f1f1f1;
  width: 170px;
  height: 170px;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.about-us .container .history-element .middle-element .circle:last-child {
  background-color: #fdd135;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 30px;
}

/*OUR TEAM*/
.our-team {
  background-color: #f7f7f7;
}

.our-team .team-header {
  margin-top: 5%;
  text-align: center;
}

.our-team .description-wrapper {
  max-width: 800px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

.our-team .description-wrapper .description {
  font-size: 1.3em;
  color: #777777;
  font-style: italic;
}

.our-team .container {
  width: 70%;
  max-width: 1250px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3%;
}

.our-team .container .team-box {
  width: 30%;
}

.our-team .container .team-box .title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  margin-bottom: 0;
}

.our-team .container .team-box .text {
  margin-top: 5px;
  color: #777777;
  font-style: italic;
}

.our-team .container .team-box .circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #111111;
}

.our-team .container .team-box .media-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
}

.our-team .container .team-box .media-wrapper > div {
  border: 2px solid #111111;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 4%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer;
}

.our-team .container .team-box .media-wrapper > div:last-child {
  margin-right: 0;
}

.our-team .container .team-box .media-wrapper > div:hover {
  background-color: #111111;
}

.our-team .container .team-box .media-wrapper > div:hover > a {
  color: #fff;
}

.our-team .container .team-box .media-wrapper > div > a {
  text-decoration: none;
  color: #111111;
  font-size: 1.2em;
}

/*LOGO-COMPANY*/
.logo-company {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.logo-company .container {
  width: 70%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-company .container .logo-box {
  width: 25%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

/*CONTACT*/
.contact {
  min-height: 700px;
  background-color: #212121;
  background-image: url("../images/contact-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.contact .contact-header {
  color: #fff;
  margin-top: 5%;
}

.contact .container {
  width: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contact .container > form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .container > form .send-button {
  transform: scale(0.7);
  margin-top: 3%;
}

.contact .container > form .box-personal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: end;
      align-items: flex-end;
  width: 47%;
}

.contact .container > form .box-personal > input {
  padding: 15px;
  margin-bottom: 3%;
  height: 30.33%;
  width: 80%;
  border-radius: 5px;
  border: none;
}

.contact .container > form .box-personal > input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2em;
}

.contact .container > form .box-personal > input::placeholder {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2em;
}

.contact .container > form .box-message {
  width: 47%;
}

.contact .container > form .box-message .mail-content {
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.contact .container > form .box-message .mail-content:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2em;
}

.contact .container > form .box-message .mail-content::placeholder {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2em;
}

/*FOOTER*/
.footer {
  height: 75px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.footer .container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footer .container .wrapper {
  width: 42%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.footer .container .wrapper .text {
  font-family: "Montserrat", sans-serif;
  color: #777777;
  font-weight: bold;
}

.footer .container .media-wrapper {
  width: 58%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.footer .container .media-wrapper > div {
  border-radius: 50%;
  border: none;
  background-color: #111111;
  width: 35px;
  height: 35px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 2%;
}

.footer .container .media-wrapper > div:hover {
  transform: scale(1.1);
}

.footer .container .media-wrapper > div > a {
  color: #fff;
  text-decoration: none;
}

/*MEDIA QUERIES*/
@media (max-width: 992px) {
  .header-model .title, .services .services-header .title, .portfolio .portfolio-header .title, .about-us .about-header .title, .our-team .team-header .title, .contact .contact-header .title, .header-model .text, .services .services-header .text, .portfolio .portfolio-header .text, .about-us .about-header .text, .our-team .team-header .text, .contact .contact-header .text {
    padding: 0 25px;
  }
  .header-model .title, .services .services-header .title, .portfolio .portfolio-header .title, .about-us .about-header .title, .our-team .team-header .title, .contact .contact-header .title {
    font-size: 2.3em;
  }
  .header-model .text, .services .services-header .text, .portfolio .portfolio-header .text, .about-us .about-header .text, .our-team .team-header .text, .contact .contact-header .text {
    font-size: 1em;
  }
  .about-us .container .line {
    display: none;
  }
  .about-us .container .history-element {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .about-us .container .history-element:nth-child(2n+0) {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .about-us .container .history-element .left-element:nth-child(2n+0) {
    display: none;
  }
  .about-us .container .history-element .left-element,
  .about-us .container .history-element .right-element {
    width: auto;
    text-align: center;
    margin-top: 15px;
  }
  .about-us .container .history-element .left-element .wrapper,
  .about-us .container .history-element .right-element .wrapper {
    width: 70%;
    margin: 0 auto;
    float: none;
  }
  .our-team .container {
    width: 90%;
  }
  .logo-company .container .logo-box {
    width: 40%;
    margin-top: 35px;
  }
  .contact .container > form {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .contact .container > form .box-personal,
  .contact .container > form .box-message {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .contact .container > form .box-message .mail-content {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .main .layer > header {
    height: auto;
  }
  .main .layer > header .nav {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .main .layer > header .nav .logo {
    padding-left: 0;
  }
  .main .layer > header .nav > ul {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0;
  }
  .main .layer > header .nav > ul > li {
    padding-bottom: 25px;
  }
  .main .layer .jumbotron .header-jumbotron .text {
    font-size: 1.5em;
  }
  .main .layer .jumbotron .header-jumbotron .title {
    font-size: 1.7em;
  }
  .services .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .services .container .box-service {
    width: 100%;
  }
  .our-team .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .our-team .container .team-box {
    width: 90%;
    margin-top: 5%;
    border-bottom: 2px solid #111111;
    padding-bottom: 15px;
  }
  .description-wrapper .description {
    padding: 0 15px;
  }
  .logo-company .container .logo-box {
    width: 80%;
    margin-top: 35px;
  }
  .footer .container .wrapper,
  .footer .container .media-wrapper {
    width: 50%;
  }
  .footer .container .wrapper .text {
    padding: 0 15px;
  }
}
/*# sourceMappingURL=style.css.map */