/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
/*variables*/
/*extends*/
.flex-column, .main, .main .layer, .main .jumbotron, .services, .services .container .box-service {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.button-model, .main .jumbotron .button {
  font-family: "Montserrat", sans-serif;
  padding: 30px 60px;
  border-radius: 5px;
  background-color: #fdd135;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.3em;
  cursor: pointer;
}

.button-model:hover, .main .jumbotron .button:hover {
  background-color: #e0bb33;
}

.header-model .title, .services .services-header .title {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}

.header-model .text, .services .services-header .text {
  font-family: "Playfair Display", serif;
  font-size: 1.2em;
  color: #777777;
  margin-top: 5px;
  font-style: italic;
}

body {
  margin: 0;
}

/*MAIN*/
.main {
  height: 70vh;
  min-height: 800px;
  background-image: url("../images/main-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main .layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main .layer > header {
  height: 50px;
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
}

.main .layer > header .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.main .layer > header .nav .logo {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-size: 2em;
  letter-spacing: 10px;
  padding-left: 50px;
}

.main .layer > header .nav .logo a {
  text-decoration: none;
  color: #fdd135;
}

.main .layer > header .nav ul {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.main .layer > header .nav ul > li {
  padding: 0 20px;
}

.main .layer > header .nav ul > li > a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.main .layer > header .nav ul > li > a:hover {
  color: #fdd135;
}

.main .jumbotron {
  -ms-flex-pack: center;
      justify-content: center;
  max-width: 1200px;
  padding: 15px;
  margin-top: 10%;
}

.main .jumbotron .header-jumbotron {
  text-align: center;
}

.main .jumbotron .header-jumbotron .text {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  color: #fff;
  font-style: italic;
  text-transform: capitalize;
}

.main .jumbotron .header-jumbotron .title {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

/*SERVICES*/
.services {
  text-align: center;
}

.services .container {
  width: 100%;
  max-width: 1200px;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.services .container .box-service {
  text-align: center;
  padding: 15px;
  width: 33%;
}

.services .container .box-service .title {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0px;
}

.services .container .box-service .text {
  color: #777777;
  padding: 0 15px;
  line-height: 22px;
}

.services .container .box-service .circle {
  border: 2px solid #fdd135;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.services .container .box-service .circle a {
  font-size: 3.0em;
  color: #fdd135;
}

/*MEDIA QUERIES*/
@media (max-width: 767px) {
  .main .layer > header {
    height: auto;
  }
  .main .layer > header .nav {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .main .layer > header .nav .logo {
    padding-left: 0;
  }
  .main .layer > header .nav > ul {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0;
  }
  .main .layer > header .nav > ul > li {
    padding-bottom: 25px;
  }
  .main .layer .jumbotron .header-jumbotron .text {
    font-size: 1.5em;
  }
  .main .layer .jumbotron .header-jumbotron .title {
    font-size: 1.7em;
  }
  .services .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .services .container .box-service {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */