/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/*variables*/
$upper: uppercase;
$font-first: 'Montserrat', sans-serif;
$font-second: 'Playfair Display', serif;

/*extends*/
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-model {
    font-family: $font-first;
    padding: 30px 60px;
    border-radius: 5px;
    background-color: #fdd135;
    color: #fff;
    border: none;
    text-transform: $upper;
    font-weight: 900;
    font-size: 1.3em;
    cursor: pointer;
    &:hover {
        background-color: #e0bb33; 
    }
}

.header-model {
    .title {
        font-family: $font-first;
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 0;
        text-transform: $upper;
    }

    .text {
        font-family: $font-second;
        font-size: 1.2em;
        color: #777777;
        margin-top: 5px;
        font-style: italic;
    }
}


body {
    margin: 0;
}
/*MAIN*/
.main {
    @extend .flex-column;
    height: 70vh;
    min-height: 800px;
    background-image: url('../images/main-image.svg');
    background-repeat: no-repeat;
    background-size: cover;

    .layer {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.5);
        @extend .flex-column;

        >header {
            height: 50px;
            width: 100%;
            max-width: 1200px;
            margin-top: 50px;
            
            .nav {
                display: flex;
                justify-content: space-between;

                .logo {
                    font-family: 'Pacifico', cursive;
                    
                    font-style: italic;
                    font-size: 2em;
                    letter-spacing: 10px;
                    padding-left: 50px;
                    
                    a {
                        text-decoration: none;
                        color: #fdd135;
                    }
                }
    
                ul { 
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    
                   >li {    
                        padding: 0 20px;
    
                        >a {
                            text-decoration: none;
                            color: #fff;
                            text-transform: $upper;
                            font-family: $font-first;
                            &:hover {
                                color: #fdd135;
                            }
                        }
                    }
                }
            }
        } 
    }

    .jumbotron {
        @extend .flex-column;
        justify-content: center;
        max-width: 1200px;
        padding: 15px;
        margin-top: 10%;

        .button {
            @extend .button-model;
        }

        .header-jumbotron {
            text-align: center; 

            .text {
                font-family: $font-second;
                font-size: 2.5em;
                color: #fff;
                font-style: italic;
                text-transform: capitalize;                 
            }

            .title {
                font-family: $font-first;
                font-size: 4em;
                font-weight: bold;
                text-transform: $upper;
                color: #fff;
            }
        
        }
    }
      
}

/*SERVICES*/

.services {
    @extend .flex-column;
    text-align: center;

    .services-header {
        @extend .header-model;
        margin-top: 5%;
    }
    
    .container {
        width: 100%;
        max-width: 1200px;
        margin-bottom: 5%;
        display: flex;
        margin-top: 40px;

        .box-service {
            @extend .flex-column;
            text-align: center;
            padding: 15px;
            width: 33%;
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
           
            .title {
                font-family: $font-first;
                margin-bottom: 0px;
            }

            .text {
                color: #777777;
                padding: 0 15px;
                line-height: 22px;
            }

            .circle {
                border: 2px solid #fdd135;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
        
                a {
                    font-size: 3.0em;
                    color: #fdd135; 
                }
            }
        }
    }
}

/*PORTFOLIO*/
.portfolio {
    @extend .flex-column;
    background-color: #f7f7f7;

    .portfolio-header {
        @extend .header-model;
        margin-top: 5%;
        text-align: center;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .photo-box {
            width: 325px;
            margin-bottom: 50px;
            overflow: hidden;
            background-color: #fff;
            
            .photo {
                height: 70%;
                overflow: hidden;
                display: flex;
                justify-content: center;
            }

            .description {
                @extend .flex-column;
                height: 30%;
                justify-content: center;

                .title {
                    font-family: $font-first;
                    margin-bottom: 0;
                    font-weight: bold;
                }

                .text {
                    font-family: $font-second;
                    color: #777777;
                    font-style: italic;
                    margin-top: 2px;
                }
            }
        }
    }
}

/*ABOUT US*/
.about-us {
    @extend .flex-column;

    .about-header {
        @extend .header-model;
        margin-top: 5%;
        text-align: center;
    }

    .container {
        @extend .flex-column;
        position: relative;
        margin-bottom: 10%;

        .line {
            height: 92%;
            border-left: 4px solid #f1f1f1;
            position: absolute;
            margin-top: 110px;
            margin-bottom: 110px;    
            left: 50%;
            z-index: -1;                    
        }

        .history-element {
            width: 100%;
            margin-top: 90px;
            display: flex;
            justify-content: center;

            .left-element,
            .right-element {
                width: 33%;
                padding: 0 15px;

                .title {
                    font-family: $font-first;
                    font-size: 1.5em;
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .description {
                    font-family: $font-first;
                    margin-top: 5px;
                    margin-bottom: 0;
                }
                
                .text {
                    font-size: 1.0em;
                    color: #777777;
                    line-height: 22px;
                }
            }

            .left-element {
                text-align: right;
                .wrapper {
                    width: 50%;
                    float: right;
                }
            }

            .right-element {
                text-align: left;
                .wrapper {
                    width: 50%;
                    float: left;
                }
            }

            .middle-element {
                display: flex;
                justify-content: center;
                width: 260px;
                              
                .circle {
                    border-radius: 50%;
                    border: 8px solid #f1f1f1;
                    width: 170px;
                    height: 170px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:last-child {
                        background-color: #fdd135;
                        color: #fff;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 1.2em;
                        font-family: $font-first;
                        font-weight: 800;
                        line-height: 30px;
                    }                                       
                }
            }
        }
    }
}

/*OUR TEAM*/
.our-team {
    @extend .flex-column;
    background-color: #f7f7f7;

    .team-header {
        @extend .header-model;
        margin-top: 5%;
        text-align: center;
    }

    .description-wrapper {
        max-width: 800px;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 5%;

        .description {
            font-size: 1.3em;
            color: #777777;
            font-style: italic;
        }
    }

    .container {
        width: 70%;
        max-width: 1250px;
        display: flex;
        justify-content: space-around;
        margin-top: 3%;

        .team-box {
            @extend .flex-column;
            width: 30%;

            .title {
                font-family: $font-first;
                font-size: 1.2em;
                margin-bottom: 0;
            }

            .text {
                margin-top: 5px;
                color: #777777;
                font-style: italic;
            }

            .circle {
                border-radius: 50%;
                width: 200px;
                height: 200px;
                background-color: #111111;
            }

            .media-wrapper {
                display: flex;
                justify-content: center;
                width: 100%;
                
                >div {
                    border: 2px solid #111111;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    margin-right: 4%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &:last-child {
                        margin-right: 0;
                    }
                    &:hover {
                        background-color: #111111;

                        >a {
                            color: #fff;
                        }
                    }


                        >a {
                            text-decoration: none;
                            color: #111111;
                            font-size: 1.2em;
                        }
                }
                
            }
        }
    }
}


/*MEDIA QUERIES*/

@media(max-width: 992px) {
    .header-model {
        .title,
        .text {
            padding: 0 25px;
        }

        .title {
            font-size: 2.3em;
        }

        .text {
            font-size: 1em;
        }
    }
    .about-us {
        .container {

            .line {
                display: none;
            }

            .history-element {
                flex-direction: column;
                align-items: center;
                &:nth-child(2n+0) {
                    flex-direction: column-reverse;

                }

                .left-element {
                    &:nth-child(2n+0) {
                        display: none;
                    }
                }
                
                .left-element,
                .right-element {
                    width: auto;
                    text-align: center;
                    margin-top: 15px;

                    .wrapper {
                        width: 70%;
                        margin: 0 auto;
                        float: none;
                        
                    }
                }
            }
        }
    }
    
    .our-team {
        .container {
            width: 90%;
        }
    }
}

@media(max-width: 767px) {
    .main {
        .layer {            
            >header {
                height: auto;
                .nav {
                    flex-direction: column;
                    align-items: center;

                    .logo {
                        padding-left: 0;
                    }

                    >ul {
                        flex-direction: column;
                        padding: 0;

                        >li {
                            padding-bottom: 25px;
                        }
                    }
                }
            }
            .jumbotron {
                .header-jumbotron {
                    .text {
                        font-size: 1.5em;
                    }
                    
                    .title {
                        font-size: 1.7em;
                    }
                }
            }
        }
    }

    .services {
        .container {
            flex-wrap: wrap;
            justify-content: center;
            
            .box-service {
                width: 100%;
            }
        }
    }

    .our-team {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .team-box {
                width: 90%;
                margin-top: 5%;
                border-bottom: 2px solid #111111;
                padding-bottom: 15px;

            }
        }
    }

    .description-wrapper {
        .description {
            padding: 0 15px;
        }
    }

}